.app-container {
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: whitesmoke;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

.search-bar input {
  padding: 10px;
  font-size: 1rem;
  margin-right: 10px;
  width: 200px;
}

.search-bar button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #2980b9;
}

/*  */


.search-bar input {
  padding: 10px;
  font-size: 1rem;
  margin-right: 10px;
  width: 200px;
}

.search-bar button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #2980b9;
}


