.favorites {
  margin-top: 20px;
}

.favorites h3 {
  font-size: 1.5rem;
}

.favorites ul {
  list-style-type: none;
  padding: 0;
}

.favorites li {
  background-color: #f9f9f9;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favorites button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.favorites button:hover {
  background-color: #c0392b;
}

.favorite-city {
  cursor: pointer;
  color:  #6c757d;
  font-weight: bold;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.favorite-city:hover {
  color:  #495057;
  text-decoration: none; 
}


button {
  margin-left: 10px;
  cursor: pointer;
}
